DJANGO_DEBUG=0
DJANGO_SECRET_KEY=CHANGE_ME_GENERATE_A_UNIQUE_SECRET
DJANGO_ALLOWED_HOSTS=arsclinic.ru,www.arsclinic.ru
DJANGO_CSRF_TRUSTED_ORIGINS=https://arsclinic.ru,https://www.arsclinic.ru
DJANGO_ADMIN_URL_PATH=admin-change-this-value/

DJANGO_DB_PATH=/var/www/arsclinic/shared/db.sqlite3
DJANGO_STATIC_ROOT=/var/www/arsclinic/current/server/staticfiles
DJANGO_MEDIA_ROOT=/var/www/arsclinic/shared/media

DJANGO_SECURE_PROXY_SSL_HEADER=1
DJANGO_SECURE_SSL_REDIRECT=1
DJANGO_SESSION_COOKIE_SECURE=1
DJANGO_CSRF_COOKIE_SECURE=1
DJANGO_CSRF_COOKIE_HTTPONLY=1
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=1
DJANGO_SECURE_HSTS_PRELOAD=1
DJANGO_CSP_UPGRADE_INSECURE_REQUESTS=1
DJANGO_TRUST_X_FORWARDED_FOR=1

DJANGO_DATA_UPLOAD_MAX_MEMORY_SIZE=262144
DJANGO_FILE_UPLOAD_MAX_MEMORY_SIZE=262144
LEAD_RATE_LIMIT_WINDOW_SECONDS=600
LEAD_RATE_LIMIT_MAX_ATTEMPTS=5
